body {
  background-color: ghostwhite;
}


input[type='image'] {
  position: relative;
  left: 50%;
  top: 50%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  left: 40%;
  top: 10%;
}

.shell {
  max-width: 100%;
  height: auto;
  width: auto\9;
  width: 40%;
  position: absolute;
}



#left-button {
  top: 40px;
  position: absolute;
}
#select-button {
  max-width: 50%;
  height: auto;
  width: auto\9; 
  left: 25%;
  top: 20%;
  position: absolute;
}

#right-button {
  position: absolute;
  left: 25%;
  top: 800px;
}


.show-errors {
  color: red;
}