*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing: border-box;

}
/* Tamagotchi banner*/
.block {
  position: relative;
  margin: 100px auto 0;
  width: 1250px;
  height: 350px;
  background: linear-gradient(0deg, #FFAAA7, #FFD3B4);
  padding: 20px;
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}
/*background*/
body {
  height: 100vh;
  background-color: #FFAAA7;
  background-size: 100%;
  background-repeat: no-repeat;
}
/*menu header*/
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(16, 20, 46);
  background-color: #FFD3B4;
}

header ul{
  list-style:none;
  display: flex;
}
header ul li{
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
header ul li:hover{
  background:linear-gradient(#FFAAA7,#FFD3B4);
  color: #000;
  border-radius: 10%;
}
header ul li:nth-child(1){
  border-top: 4px solid #cc33ff;
}

/*start game button*/
.text-box {
  margin: 50px;
  width: 30%;
  margin: auto;
  padding: 50px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 255, 123);
  font-size: 30px;
  font-family: verdana;
  letter-spacing: 4px;
  padding-left: 5px;
}

/*app page*/

.container .gozi-clean {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.container .shower {
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



.container .gozi-eat {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.container .chocolate {
  display: none;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container .food-cloud {
  display: none;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.container .hungry {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container .birth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.container .default {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container .death {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



.container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

#dropShadow {
  filter: drop-shadow(25px 1px 10px #3a3939);
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn-left {
  position: absolute;
  top: 83%;
  left: 32%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.container .btn-select {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}


.container .btn-right {
  position: absolute;
  top: 83%;
  left: 68%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.container .feed-highlight {
  position: absolute;
  top: 38%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-style: ridge;
  border-color: black;
  width: 69px;
  height: 69px;
}


.container .feed {
  position: absolute;
  top: 38%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
}


.container .feed-100{
  position: absolute;
  top: 38%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 69px;
}

.container .feed-90{
  position: absolute;
  top: 38.18%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 66.2px;
  display: none;
}

.container .feed-80{
  position: absolute;
  top: 38.45%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 55.2px;
  display: none;
}

.container .feed-70{
  position: absolute;
  top: 38.75%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 48.3px;
  display: none;
}

.container .feed-60{
  position: absolute;
  top: 39.25%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 41.4px;
  display: none;
}

.container .feed-50{
  position: absolute;
  top: 39.35%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 34.5px;
  display: none;
}

.container .feed-40{
  position: absolute;
  top: 39.7%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 27.6px;
  display: none;
}

.container .feed-30{
  position: absolute;
  top: 40.1%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 20.7px;
  display: none;
}

.container .feed-20{
  position: absolute;
  top: 40.5%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 13.8px;
  display: none;
}


.container .feed-10{
  position: absolute;
  top: 40.8%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 6.9px;
  display: none;
}

.container .nap-highlight {
  position: absolute;
  top: 38%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-style: ridge;
  border-color: black;
  width: 69px;
  height: 69px;
  display: none;
}

.container .nap {
  position: absolute;
  top: 38%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
}



.container .nap-100{
  position: absolute;
  top: 38%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 69px;
}

.container .nap-90{
  position: absolute;
  top: 38.18%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 66.2px;
  display: none;
}

.container .nap-80{
  position: absolute;
  top: 38.45%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 55.2px;
  display: none;
}

.container .nap-70{
  position: absolute;
  top: 38.75%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 48.3px;
  display: none;
}

.container .nap-60{
  position: absolute;
  top: 39.25%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 41.4px;
  display: none;
}

.container .nap-50{
  position: absolute;
  top: 39.35%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 34.5px;
  display: none;
}

.container .nap-40{
  position: absolute;
  top: 39.7%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 27.6px;
  display: none;
}

.container .nap-30{
  position: absolute;
  top: 40.1%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 20.7px;
  display: none;
}

.container .nap-20{
  position: absolute;
  top: 40.5%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 13.8px;
  display: none;
}


.container .nap-10{
  position: absolute;
  top: 40.8%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 6.9px;
  display: none;
}

.container .play {
  position: absolute;
  top: 68%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
}

.container .play-highlight {
  position: absolute;
  top: 68%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-style: inset;
  border-style: ridge;
  border-color: black;
  width: 69px;
  height: 69px;
  display: none;
}



.container .play-100{
  position: absolute;
  top: 68%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 69px;
}

.container .play-90{
  position: absolute;
  top: 68.18%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 66.2px;
  display: none;
}

.container .play-80{
  position: absolute;
  top: 68.45%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 55.2px;
  display: none;
}

.container .play-70{
  position: absolute;
  top: 68.75%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 48.3px;
  display: none;
}

.container .play-60{
  position: absolute;
  top: 69.25%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 41.4px;
  display: none;
}

.container .play-50{
  position: absolute;
  top: 69.35%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 34.5px;
  display: none;
}

.container .play-40{
  position: absolute;
  top: 69.7%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 27.6px;
  display: none;
}

.container .play-30{
  position: absolute;
  top: 70.1%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 20.7px;
  display: none;
}

.container .play-20{
  position: absolute;
  top: 70.5%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 13.8px;
  display: none;
}


.container .play-10{
  position: absolute;
  top: 70.8%;
  left: 69%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 6.9px;
  display: none;
}

.container .clean {
  position: absolute;
  top: 68%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
}

.container .clean-highlight{
  position: absolute;
  top: 68%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-style: ridge;
  border-color: black;
  width: 69px;
  height: 69px;
  display: none;
}



.container .clean-100{
  position: absolute;
  top: 68%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 69px;
}

.container .clean-90{
  position: absolute;
  top: 68.18%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #63ff00;
  width: 69px;
  height: 66.2px;
  display: none;
}

.container .clean-80{
  position: absolute;
  top: 68.45%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 55.2px;
  display: none;
}

.container .clean-70{
  position: absolute;
  top: 68.75%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #d6ff00;
  width: 69px;
  height: 48.3px;
  display: none;
}

.container .clean-60{
  position: absolute;
  top: 69.25%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 41.4px;
  display: none;
}

.container .clean-50{
  position: absolute;
  top: 69.35%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffff00;
  width: 69px;
  height: 34.5px;
  display: none;
}

.container .clean-40{
  position: absolute;
  top: 69.7%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 27.6px;
  display: none;
}

.container .clean-30{
  position: absolute;
  top: 70.1%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc100;
  width: 69px;
  height: 20.7px;
  display: none;
}

.container .clean-20{
  position: absolute;
  top: 70.5%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 13.8px;
  display: none;
}


.container .clean-10{
  position: absolute;
  top: 70.8%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:	#ff0000;
  width: 69px;
  height: 6.9px;
  display: none;
}